@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Headings and Strong */

  h1 {
    margin-bottom: 0.4em;
    @apply text-[1.6em] font-bold text-p-light md:text-[1.6em] dark:text-highlight;
  }

  h2 {
    font: bold;
    @apply text-[1.5em] font-bold text-p-light md:text-[1.4em] dark:text-highlight;
  }

  /* Article Main Font color */

  p,
  li {
    @apply text-p-light dark:text-gray-300;
  }

  hr {
    @apply dark:!border-[#292c2d];
  }

  /* Link Styles */

  a {
    text-underline-position: from-font;
    text-decoration-skip-ink: all;
    @apply font-medium underline decoration-dec-light decoration-1 underline-offset-1 transition-opacity hover:opacity-70 dark:decoration-dec-dark;
  }
}

/*=========================*/
/*       Antialiased       */
/*=========================*/

@media screen and (min-device-pixel-ratio: 1.5), screen and (min-resolution: 1.5dppx) {
  body {
    @apply antialiased;
  }
}

/*=========================*/
/*      Warning Dialog     */
/*=========================*/

.button-leave {
  @apply bg-red-100 text-red-900 hover:bg-red-200 focus-visible:ring-red-500;
}

.button-enter {
  @apply bg-blue-100 text-blue-900 hover:bg-blue-200 focus-visible:ring-blue-500;
}

.button-warning-general {
  @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 font-mono text-xs font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
}

p,
span {
  @apply text-p-light dark:text-gray-300;
}

a {
  @apply dark:text-white;
}
