@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  /* Headings and Strong */

  h1 {
    margin-bottom: 0.4em;
    @apply text-p-light dark:text-highlight text-[1.6em] font-bold md:text-[1.6em];
  }

  h2 {
    font: bold;
    @apply text-p-light dark:text-highlight text-[1.5em] font-bold md:text-[1.4em];
  }

  /* Article Main Font color */

  p,
  li {
    @apply text-p-light dark:text-gray-300;
  }

  hr {
    @apply dark:border-[#292c2d]!;
  }

  /* Link Styles */

  a {
    text-underline-position: from-font;
    text-decoration-skip-ink: all;
    @apply decoration-dec-light dark:decoration-dec-dark font-medium underline decoration-1 underline-offset-1 transition-opacity hover:opacity-70;
  }
}

/*=========================*/
/*       Antialiased       */
/*=========================*/

@media screen and (min-device-pixel-ratio: 1.5), screen and (min-resolution: 1.5dppx) {
  body {
    @apply antialiased;
  }
}

/*=========================*/
/*      Warning Dialog     */
/*=========================*/

.button-leave {
  @apply bg-red-100 text-red-900 hover:bg-red-200 focus-visible:ring-red-500;
}

.button-enter {
  @apply bg-blue-100 text-blue-900 hover:bg-blue-200 focus-visible:ring-blue-500;
}

.button-warning-general {
  @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 font-mono text-xs font-medium focus:outline-hidden focus-visible:ring-2 focus-visible:ring-offset-2;
}

p,
span {
  @apply text-p-light dark:text-gray-300;
}

a {
  @apply dark:text-white;
}
