/* CryptoAddress.module.css */
.feedbackAnimation {
  margin-left: 10px;
  color: green;
  font-weight: bold;
  opacity: 0;
  animation: fadeInOut 2s;
  @apply font-mono text-sm md:text-xs;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}

.link-style {
  text-underline-position: from-font;
  text-decoration-skip-ink: all;
  @apply font-medium underline decoration-dec-light decoration-1 transition-opacity hover:opacity-70 dark:decoration-dec-dark;
}
