---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/src/styles/global.css">
    <title>NSFW Commission</title>
  </head>
  <body class="bg-back-light dark:bg-back-dark mx-auto max-w-[70rem] pt-20 pb-32 min-h-screen">
    <slot />
  </body>
</html>
